## Banco
DB_PORT=
DB_NOME=
DB_USER=
DB_SENHA=
DB_HOST=


#JWT
JWT_SECRET=
JWT_EXPIRES=


# JWT VAULT_ATLAS_DRIVE
# cria um TOKEN COM UMA CHAVE DIFERENTE, para validar com um middleware diferente
# ao acessar Vault Drive,
JWT_SECRET_VAULT=



#server
PORT=
NODE_ENV=

#encriptar com bcrypt denovo após decidido qual chaves irá ser no futuro
MAGIC_WORD_CRIAR=
MAGIC_WORD_ROLE=
CHAVE_IMPERSONATE=
CHAVE_NOPENDING=



#sobre CAMINHO DO ATLAS CLOUD
ATLAS_CLOUD_PATH=