## Banco
DB_PORT=
DB_NOME=
DB_USER=
DB_SENHA=
DB_HOST=


#JWT
JWT_SECRET=
JWT_EXPIRES=1h

# JWT VAULT_ATLAS_DRIVE
# cria um TOKEN COM UMA CHAVE DIFERENTE, para validar com um middleware diferente
# ao acessar Vault Drive,
JWT_SECRET_VAULT_DRIVE=

#JWT LOGIN-INIT - necessário para fazer requisição de 2FA, pós login user e senha
JWT_SECRET_LOGIN_INIT=



#server
PORT=
NODE_ENV=


#frontend URL , mudar por aqui quando o frontend é localhost:3000 OU teste com NGROK 
# ou qualquer outra coisa


#padrão localhost: http://localhost:3000
FRONTEND_URL=








#encriptar com bcrypt denovo após decidido qual chaves irá ser no futuro
MAGIC_WORD_CRIAR=
MAGIC_WORD_ROLE=
CHAVE_IMPERSONATE=
CHAVE_NOPENDING=



#sobre CAMINHO DO ATLAS CLOUD
ATLAS_CLOUD_PATH=




#código INICIAL VAULT
CODIGO_INICIAL_VAULT=


